<body class="layout-default">
	<section class="hero is-fullheight is-medium is-primary is-bold">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<article class="card is-rounded">
						<div class="card-content">
						<%= form_for(@login_user, :url => {:action => :create}) do |f| %>
							<p class="control has-icon">
								<%= f.label :user_id, "ユーザーID" %><br>
								<%= f.text_field :user_id, :class=>"input" %>
								<i class="fa fa-envelope"></i>
							</p>
							<p class="control has-icon">
								<%= f.label :password, "パスワード" %><br>
								<%= f.password_field :password, :class=>"input" %>
								<i class="fa fa-lock"></i>
							</p>
							<p><br></p>
							<a class="button is-fullwidth" href="new_user">ユーザー登録がまだの方はこちら</a>
							<p><br></p>
							<p class="control">
								<%= f.submit "ログイン", :class=>"button is-primary is-medium is-fullwidth" %>
							</p>
						<% end %>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</body>
